<!doctype html>
<html lang="en">

<head data-app-version="0.0.4-1599380345659">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta http-equiv="Cache-Control" content="no-siteapp">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-title" content="标题">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="format-detection" content="telphone=no, email=no">
  <meta name="screen-orientation" content="portrait">
  <meta name="x5-orientation" content="portrait">
  <meta name="theme-color" content="#4a8dee">
  <meta name="msapplication-navbutton-color" content="#4a8dee">
  <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1">
  <title>观远数据-智能数据开发平台</title>
  <link rel="stylesheet" href="/assets/css/app.css">
  <link rel="stylesheet" href="/assets/css/font/fg-warehouse.css?v=0.0.4-1599380345659">
  <link rel="icon" href="/universe/static/icon.png">
  <script id="dll" src="/__dll.0.0.1.2c62ff8a007aa2b67565.js"></script>
  <script src="/assets/vendor/vega5.5.3.min.js"></script>
</head>

<body>
  <div id="app">
    <div class="gd-rect-spinner-container">
      <div class="gd-rect-spinner">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
      </div>
    </div>
  </div>
  <script src="/main.558abeab04f396490f2c.js"></script>
</body>

</html>